{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">
            {% translate 'Documentation' %}
        </a> /
    {% endif %}
    {% translate 'Change password' %} /
    <a href="{% url 'admin:logout' %}">
        {% translate 'Log out' %}
    </a>
    {% if user.is_superuser %} /
        <a href="{% url 'admin:settings' %}">{% translate 'Settings' %}</a>
    {% endif %}
{% endblock %}
