docker-volume
media
static

**/__pycache__/*
HogWeedGo/migrations
.idea
.venv
venv

backup
certificates
tests
docker

!docker/docker-entrypoint.sh

.dockerignore
.gitignore
config-generator.sh
README.md
*.env

Pipfile.lock
