DJANGO_SECRET=Secret, generated for current production build
DJANGO_ALLOWED_HOSTS=Devices, which will be able to access site

DJANGO_SUPERUSER_EMAIL=E-mail address of administrator - default superuser of the server
DJANGO_SUPERUSER_PASSWORD=Password of administrator - default superuser of the server

POSTGRES_HOST=Device, the PostgreSQL instance is running on (required for local run only)
POSTGRES_NAME=Name of the database assigned for the server
POSTGRES_USER=Username, all database calls will be signed with
POSTGRES_PASSWORD=Password for accessing database with given username

SERVER_EMAIL_ADDRESS=E-mail address server will be using for service e-mails
SERVER_EMAIL_TLS=Whether or not server should use TLS for accessing service e-mails
SERVER_EMAIL_HOST=Device that will be used for service e-mails sending
SERVER_EMAIL_PORT=Port that will be used for service emails sending
SERVER_EMAIL_USER=Username to access service e-mailing account
SERVER_EMAIL_PASSWORD=Password to access service e-mailing account under given username
